{% extends "base.html" %}

{% block content %}
<section class="foods">
    <h2>Favorite Food Delicacies</h2>
    
    <div class="food">
        <h3>Sisig</h3>
        <p>Sisig is a popular Kapampangan dish made from chopped pig’s face and ears, seasoned with calamansi, onions, and chili peppers.
             It originated from Pampanga and is known for its crispy texture and savory-tangy flavor. I love it because it reminds me of festive 
             family gatherings and celebrations at home.</p>
        <div class="food-img-container">
            <img src="/static/images/food/sisig.jpg" alt="">
        </div>
    </div>
    
    <div class="food">
        <h3>Adobo</h3>
        <p>Adobo is a classic Filipino dish made by simmering meat, usually chicken or pork, in soy sauce, vinegar, garlic, and bay leaves. 
            It’s a comfort food for many Filipinos, including me, because it brings back memories of home-cooked meals and cozy weekends with my family.</p>
        <div class="food-img-container">
            <img src="/static/images/food/adobo.jpg" alt="">
        </div>
    </div>
    
    <div class="food">
        <h3>Creamy Beef with Mushroom</h3>
        <p>This dish combines tender slices of beef with a creamy mushroom sauce, often served over rice or pasta. It’s rich, comforting, 
            and easy to prepare. I enjoy making it when I want something hearty and satisfying.</p>
        <div class="food-img-container">
            <img src="/static/images/food/creamymushroom.jpg" alt="">
        </div>
    </div>
    
    <div class="food">
        <h3>Sinigang</h3>
        <p>Sinigang is a sour soup made with tamarind and various vegetables, often paired with pork, shrimp, or fish.
             Its tangy flavor makes it unique and refreshing, especially on rainy days. I love it because it’s my mom’s specialty, 
             and it reminds me of her warm, nurturing cooking.</p>
        <div class="food-img-container">
            <img src="/static/images/food/sinigang.png" alt="">
        </div>
    </div>
    
    <div class="food">
        <h3>BBQ</h3>
        <p>Filipino-style barbecue features skewered marinated pork or chicken grilled over charcoal, often served with vinegar dipping sauce. 
            It's a favorite during street fairs and family picnics. I love the smoky-sweet taste and the fun memories of eating BBQ with friends after school.</p>
            <div class="food-img-container">
                <img src="/static/images/food/bbq.jpg" alt="">
            </div>
    </div>
</section>
{% endblock %}