{% extends "base.html" %}

{% block content %}
<section class="home">
    <h2>Welcome to My Portfolio</h2>
    <p>I’m Karylle Jade Medina, 20 years old, and I’m currently studying Bachelor of Science in Information Technology (BSIT) at Mabalacat City College. 
        Alongside my studies, I’m learning graphic design and photography because I enjoy creating things and showing ideas through pictures and designs. Right now,
         I’m practicing how to use design tools, edit photos, and make layouts that look nice and clean. I like playing with colors and styles, and I get inspired by 
         things I see around me and other artists online. I’m still learning, but my goal is to get better and be able to share stories and emotions through my work in a 
         creative way.</p>
    
    <div class="connect">
        <h3>Connect With Me</h3>
        <a href="https://www.facebook.com/botawski07/" target="_blank" class="btn">Visit my Facebook</a>
        <a href="https://www.instagram.com/jeyd_mdn/" target="_blank" class="btn">Visit my Instagram</a>
    </div>
    
    <div class="inform">
        <h3>Explore My Portfolio</h3>
        <p>Use the navigation bar above to explore different sections of my portfolio.</p>
    </div>
</section>
{% endblock %}